{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>戦争だぁ！</title>
    <link rel="stylesheet" href="{% static 'style/game.css' %}">
    <link rel="stylesheet" href="{% static 'style/reset.css' %}">
</head>


<body>
    <div class="game-box">

        <h1>戦争だぁ！</h1>
        <hr>
        <div class="game_board">
            <div class="leftside"></div>
            <ul class="comhand_card_img">
                {% for hand in hands %}
                <li class="comcard"><img src="static/img/{{ hand }}" class="ura_comcard"></li>
                {% endfor %}
            </ul>
            <div class="container">
                <div class="box">
                    <h2>NPC</h2>
                    {% for show in com_card %}
                    <img src="static/img/{{ show }}" class="card_img">
                    {% endfor %}
                    <p>NPCは{{ com_get_num }}ポイントです</p>
                </div>
                <div class="box">
                    <!-- ---------------------------------------------------------------------------------- -->
                    <h2>あなた</h2>
                    {% for show in player_card %}
                    <!-- <form action="{% url 'game' %}" method='POST'></form> -->
                    <!-- {% csrf_token %} -->
                    <img src="static/img/{{ show }}" class="card_img">
                    <!-- </form> -->
                    {% endfor %}
                    <p>あなたは{{ player_get_num }}ポイントです</p>
                </div>
            </div>
            <div class="rightside">
                <ul class="playerhand_card_img">
                    {% for hand in hands %}
                    <!-- <form action="{% url 'game' %}" method="POST"  name=""> -->
                    <li class="playercard">
                        <!-- {% csrf_token %} -->
                        <image src="static/img/{{ hand }}" class="ura_playercard">
                    </li>
                    <!-- </form> -->
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="user">

        <p class="message">{{ message }}</p>

        <form action="{% url 'game' %}" method='POST'>
            {% csrf_token %}
            <input type="submit" value="next" name='your'>
        </form>


        {% if is_gameover %}
        <form action="{% url 'game' %}" method='POST'>
            {% csrf_token %}
            <input type="submit" value="もう一度" name="restart">
        </form>
        {% endif %}
    </div>

</body>

</html>