html{
    width: auto;
}

.game-box{
    margin: 20px;
    padding: 0px;
    width: auto;
    text-align: center;
}

.box{
    height: 250px;
}

h1{
    text-align: center;
    height: 40px;
    margin: 20px;
}

h2{
    margin: 0px;
}

p{
    margin: 0px;
}

.ura_comcard{
    width: 70px;
}

.ura_playercard{
    width: 70px;
}

.container{
    display: flex;
    justify-content: center;
}

.leftside{
    align-content: flex-start;
}

.comhand_card_img{
    display: flex;
    list-style: none;
    padding: 0%;
}

.rightside{
    align-content: flex-end;
}

.playerhand_card_img{
    list-style: none;
    padding: 0%;
    display: flex;
}

.comcard{
    width: 50px;
}

.playercard{
    width: 50px;
}

.message{
    background-color: aqua;
    font-size: 30px;
    margin: 40px;
    justify-content: center;
}

.card_img{
    width: 200px;
}

.user {
    justify-content: center;
}