html{
    width: auto;
}

input{
    margin-left: 20px;
}

.game-box{
    margin: 20px;
    padding: 0px;
    width: auto;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
}

.box{
    height: 250px;
}

.button{
    display: flex;
    list-style: none;
    padding: 0px;
    width: 100%;
    margin-right: 30px;
}

.button_card{
    width: 50%;
    padding: 0px;
    margin-right: 30px;
    margin-left: 10px;
}

h1{
    text-align: center;
    height: 40px;
    margin: 20px;
    font-size: 30px;
}

h2{
    margin: 0px;
}

p{
    margin: 0px;
}

.ura_comcard{
    width: 70px;
}

.ura_playercard{
    width: 70px;
}

.container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.comhand_card_img{
    display: flex;
    list-style: none;
    padding: 0%;
    width: 100%;
}

.playerhand_card_img{
    list-style: none;
    padding: 0%;
    display: flex;
    width: 100%;
}

.comcard{
    width: 50px;
}

.playercard{
    width: 50px;
}

.message{
    font-size: 20px;
    margin: 40px;
    justify-content: center;
}

.card_img{
    width: 200px;
}

.user {
    justify-content: center;
}